body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.ticks {
    color: orange;
}

select {
    position: absolute;
    top: 550px;
}

.data {
    position: absolute;
    top: 580px;
    width: 90%;
}
